@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    background-color: #181733;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 100vh;
    margin:0;

}

header, section {
    /* display: flex; */
    padding: 20px;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    color: #fdc52c;
    flex-wrap: nowrap;

}

#wrapperPic {
    display: flex;
    justify-content: center;
    height: 350px;
}


#btn1 {
    width: 250px;
    margin-top: 40px;
    font-size: 1em;
    border: 2px solid #fdc52c;
    background: none;
    padding: 12px;
    color: #fdc52c;
    text-transform: uppercase;
    font-weight: 700;
}

#response {
    display: block;
    font-size: 2em;
    color: red;
}

footer {
    font-size: 0.6em;
    background: black;
    color:bisque;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
}

footer > div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 375px) {
    section  {
        justify-items: center;
    }

    #btn1 {
        display: inline-block;
    }

    #wrapperPic {
        max-height: 350px;
    }

}